<h1> Add New Product </h1>

    <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


<p>The image id is: <%= @image.id %></p>

<%= form_for @product do |f| %>
  <%= f.text_field :name %>

  <%= f.fields_for @image do |ff| %>
    <div class="field">
      <%= ff.label :id  %>
      <%= ff.text_field :id %>
    </div>
  <% end %>

  <%= f.submit "Add", :class => 'btn btn-primary'%>
<% end %>