<%= render 'pages/home' unless user_signed_in? %>

<p id="notice"><%= notice %></p>

<h1>Listing images</h1>

<table>
  <thead>
<!--     <tr>
      <th>Image</th>
      <th>Description</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr> -->
  </thead>

  <tbody>
    <div id="images" class="transitions-enabled">
      <% @images.each do |image| %>
        <div class="box panel panel-default">
          <%= image_tag image.image.url(:medium) %>
          <div class="panel-body">
            <%= image.description %>
            <%= image.user.email if image.user %>
            <%= link_to 'Show', image_path(image) %>
            <% if image.user == current_user %>
              <%= link_to 'Edit', edit_image_path(image) %>
              <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </tbody>
</table>

<br>
