<%= render 'pages/home' unless user_signed_in? %>


<h1>Listing images</h1>

<table>
  <thead>
<!--     <tr>
      <th>Image</th>
      <th>Description</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr> -->
  </thead>

<div class="filter_options_container">

  <form class="filter_form">
    <%= select("occasion", "name", Occasion.all.collect(&:name), {include_blank: true}) %>
    <%= select("ethnicity", "name", Ethnicity.all.collect(&:name), {include_blank: true}) %>
    <input type="submit" value="Filter" />
  </form>
</div>


<%= link_to 'Clear Filters', root_path %>


  <tbody>
    <div id="images" class="transitions-enabled">
      <% @images.each do |image| %>
        <div class="box panel panel-default">
          <%= link_to image_tag(image.image.url(:medium)), image %>
          <div class="panel-body">
            <%= image.description %>
            <%= image.user.email if image.user %>
            <% if image.user == current_user %>
              <%= link_to 'Edit', edit_image_path(image) %>
              <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </tbody>
</table>

<br>

<%= will_paginate @images, page_links: false %>

