<!DOCTYPE html>
<html>
<head>
  <title>Makeup Browser</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>
</head>
<body>

<%= render 'layouts/header' %>

<% flash.each do |name, msg| %>
     <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
<% end %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
